.playerPanel {
    display: inline-block;
    flex-direction: row;
    align-items: center;
    width: auto;
}

.playerAvatar {
    display: inline-flex;
    max-width: 4rem;
    min-width: 30%;
    vertical-align: middle;
}

.playerName {
    display: inline-block;
    vertical-align: middle;
    height: auto;
    width: 40%;
    color: aliceblue;
}

.playerName h2 {
    font-size: 2rem;
}

@media screen and (max-width: 800px) {
    .playerAvatar{
        display: inline-block;
    }

    .playerName{
        display: inline-block;
    }
}

@media screen and (max-width: 550px) {
    .playerPanel {
        width: 50%;
    }
    .playerName h2 {
        font-size: 1.5rem;
    }
    .playerName,.playerAvatar {
        margin-top: 1rem;
    }
}