.cityTitleDiv {
    position: fixed;
    top: 15vh;
    left: 10vw;
    /*transform: translate(-15vh,-10vw);*/
    font-size: 2rem;
    width: auto;
    padding: 0.5rem 1rem;
    background-color: #282c34;
    color: aliceblue;
    border-radius: 1rem;

}

.scoreDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 15vh;
    right: 10vw;
    /*transform: translate(-15vh,-10vw);*/
    font-size: 2rem;
    width: auto;
    padding: 0.5rem 1rem;
    background-color: #282c34;
    color: aliceblue;
    border-radius: 1rem;
}

.successColor {
    color: forestgreen;
    animation: grow2 1.5s infinite;
}

.cityColor {
    color: crimson;
}


.successDiv {
    position: relative;
    top: 20%;
    left: 45%;
    display: block;
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    background-color: rgba(173, 255, 47, 0.5);
    color: forestgreen;
    font-size: 5rem;
    animation: grow 1.5s infinite ease-in-out;
    text-align: center;
}

.successDiv svg {
    position:relative;
    top: 10%;
}

@keyframes grow {
    0% {
        transform: scale(0.6);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.6);
    }
}

@keyframes grow2 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2.5);
    }
    100% {
        transform: scale(1);
    }
}


@media screen and (max-width: 800px) {
    .scoreDiv,.cityTitleDiv {
        font-size: 1rem;
    }
}

@media screen and (max-width: 550px) {
    .scoreDiv,.cityTitleDiv {
        top: 20vh;
    }
}
