.cityTitleDiv {
    position: fixed;
    top: 15vh;
    left: 10vw;
    /*transform: translate(-15vh,-10vw);*/
    font-size: 2rem;
    width: auto;
    padding: 0.5rem 1rem;
    background-color: #282c34;
    color: aliceblue;
    border-radius: 1rem;

}

.scoreDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 15vh;
    right: 10vw;
    /*transform: translate(-15vh,-10vw);*/
    font-size: 2rem;
    width: auto;
    padding: 0.5rem 1rem;
    background-color: #282c34;
    color: aliceblue;
    border-radius: 1rem;

}

.successDiv {
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-30%, -50%);
    display: block;
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    background-color: rgba(173, 255, 47, 0.5);
    color: forestgreen;
    font-size: 5rem;
    padding: 0 0 1.5rem 2rem;
    -webkit-transition-duration: 2s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease-in-out;
}


@media screen and (max-width: 800px) {
    .scoreDiv,.cityTitleDiv {
        font-size: 1rem;
    }
}

@media screen and (max-width: 550px) {
    .scoreDiv,.cityTitleDiv {
        top: 20vh;
    }
}
